/* font converted using font-converter.net. thank you! */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
html {
  padding-top: 24px;
}
body {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  color: black; /*#78909c;*/
  background-color: #FFFFFF;
  font-size: 18px;
  max-width: 1024px;
  padding: 48px;
  margin: 0 auto;
  outline: inset 12px black;
  outline-offset: -24px;
  padding-bottom: 96px;
}

h1, h2, h6 {
  font-family: 'Special Elite', "Times New Roman", "Veteran typewriter";
  text-align: center;
}
 

.content {
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 24px 38px;
  background-image: url(/image/AUTREBANDEAU2.jpg);
  margin-left: -26px;
  background-size: 100%;
  width: calc(100% - 144px);
  background-repeat: repeat-x;
 
}

.menu a {
  font-family: 'Special Elite', monospace;
  color: #a4f48b;
}

blockquote {
  color: #292780;
}

a {
  text-decoration: none;
  color: #395175;
  cursor: pointer;
}

a:hover {
  text-decoration: underline dashed;
}

.content ul {
  list-style-type: none;
}
.content li {
  margin-top: 24px;
}
.content li:not(:last-child):after {
  margin-top: 24px;
  display: block;
  content: '•';
}

legend {
  color: #292780;
  margin-top: 10%;
  text-align: center;
  font-style: italic;
}
