/* font converted using font-converter.net. thank you! */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
html {
  padding-top: 24px;
}
body {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  color: black; /*#78909c;*/
  background-color: #FFFFFF;
  font-size: 18px;
  max-width: 1024px;
  padding: 48px;
  margin: 0 auto;
  outline: inset 12px black;
  outline-offset: -24px;
  padding-bottom: 96px;
}

h1, h2, .typewriter {
  font-family: 'Special Elite', "Times New Roman", "Veteran typewriter";
}


h1, h2, h3, .center {
  text-align: center;
}

h3, h4, h5 {
  font-variant:small-caps; 
  margin-top: 60px;
}

.content {
  max-width: 975px;
  margin: 0 auto;
  text-align: center;
}

.content.wide {
  max-width: 750px;
}

.important {
  font-size: 200%;
  text-align: center;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 24px 38px;
  background-image: url(/image/bandeau.png);
  margin-left: -26px;
  background-size: 1050px;
  width: calc(100% - 20px);
  background-repeat: no-repeat;
  background-position: center;
}

.menu a {
  font-family: 'Special Elite', monospace;
  color: #a4f48b;
  margin-left: 22px;
  font-size: 24px
}

blockquote {
  color: #292780;
}

a {
  text-decoration: none;
  color: #395175;
  cursor: pointer;
  }

a:hover {
  text-decoration: underline dashed;
}

.content ul {
  list-style-type: none;
}
.content li {
  margin-top: 24px;
}
.content li:not(:last-child):after {
  margin-top: 24px;
  display: block;
  content: '•';
}

.rebours {
  font-size: 32px;
  text-align: center;
  padding-bottom: 2px;
}  

legend {
  color: #292780;
  margin-top: 10%;
  text-align: center;
  font-style: italic;
}

.red {
  color: #bf360c;
}

a.action {
  display: inline-block;
  padding: 12px 50px;
  background: #C9001A;
  color: #FFFFFF;
  transition: all 1.8s ease-out 0s;
  border-radius: 8px;
  border: 4px dashed #000000;
  margin-top: 35px;
}

a.action:hover {
  background: #8FCF3C;
  color: #000000;
  border: 4px solid #34393E;
}